
body {
  background-color:lightyellow;
  margin:20px 20px 20px 20px;
}

h1 {
  font-family:"Times New Roman", serif;
}

p {
  font-family:Verdana, Helvetiva, sans-serif;
}

li {
  font-family:Verdana, Helvetiva, sans-serif;
}

